.home {
	
	.news {
		@extend %listreset;

		.news-post {
			display 		: flex;
			margin-bottom 	: 1em;
		}

		.news-date {
			margin-right	: 2.5%;
			text-align 		: center;
			text-transform	: uppercase;
			width 			: 15%;

			@media only screen and (min-width: $bp__tablet) {
				width: 12.5%;
			}
		}

		.news-month {
			@extend %orangegrad;
			color 			: $light;
			display 		: block;
		}

		.news-day {
			background-color: $light;
			color 			: $dkgray;
			display 		: block;
		}

		.news-info {
			width: 82.5%;

			@media only screen and (min-width: $bp__tablet) {
				width: 85%;
			}

			p {
				margin: 0;
			}
		}

		.news-title {

			a {
				color 		: $green;
			}
		}

		.news-content {

		}

		.read-more {
			color 	: $green;
			display : block;
		}
	}

}
