.site-footer {
	width: 100%;

	@media only screen and (min-width: $bp__tablet) {
		padding: 2em;
	}
}

.wrap-footer {
	min-height 	: 100px;
	overflow 	: auto;
	padding 	: 1em;
	text-align 	: center;
}

.site-info {
	overflow 	: auto;
	width 		: 100%;
}

.footer-logo {
	max-height 	: 300px;
	max-width 	: 300px;
}