.top-header-menu {
	@media only screen and (min-width: $bp__laptop) {
		flex: 8 1 auto;
	}

	.menu-items {
		@extend %listreset;
		align-items : center;
		display 	: flex;
		flex-wrap 	: wrap;
		padding 	: 0.75em;

		@media only screen and (min-width: $bp__laptop) {
			padding-left: 0;
		}

		li {
			padding : 1em;
			width 	: 50%;

			@media only screen and (min-width: $bp__tablet) {
				width 	: 25%;
			}

			@media only screen and (min-width: $bp__top-header) {
				flex 		: 1 1 auto;
				margin 		: 0;
				padding 	: 0;
				text-align 	: center;
				width 		: auto;

				&:not(:last-child) {
					border-right 	: 2px solid $light;
				}
			}
		}
	}
}