.homepage-buttons-menu {
	background		: $dkorange; /* old browsers */
	background		: -webkit-linear-gradient( $ltorange, $dkorange ); /* Chrome 10-25, Safari 5.1-6 */
	background		: linear-gradient( $ltorange, $dkorange ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color 			: $light;
	text-transform 	: uppercase;

	a {
		@include unline( $light );
		display: block;

		&:hover,
		&:focus,
		&.focus,
		&:visited {
			color: $light;
		}
	}

	.menu-items {
		@extend %listreset;

		@media only screen and (min-width: $bp__home-buttons) {
			display 		: flex;
			justify-content : center;
		}
	}

	.menu-item {
		padding 	: 0.75em;
		text-align 	: center;

		@media only screen and (min-width: $bp__home-buttons) {
			padding 	: 0.25em;
			width 		: 33%;

			&:not(:last-child) {
				border-right: 1px solid $light;
			}
		}
	}

	.homepage-buttons {
		padding: 0;
	}
}